﻿@model IEnumerable<HW8_game_eagley_kasner.HighScore>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    @using (Html.BeginForm( "Index", "Game"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Your game-name", htmlAttributes: new { @class = "control-label col-md-2" }) 
                <div class="col-md-10">
                    
                    @Html.Editor("PlayerName", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("PlayerName", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Index" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
        @if(Model!=null && Model.Count() > 0)
        {

            <table class="table">
                <caption>Current highscores:</caption>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Points)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WavesCompleted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PlayerName)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Points)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WavesCompleted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlayerName)
                        </td>
                    </tr>
                }

            </table>
        }

        </div>