﻿@model HW8_game_eagley_kasner.HighScore

@{
    ViewBag.Title = "GameOver";
}

<h2>GameOver</h2>

<div>
    <h4>HighScore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WavesCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WavesCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName)
        </dd>

    </dl>
</div>
@using (Html.BeginForm("Index", "Game"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Your game-name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("PlayerName", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("PlayerName", new { @class = "text-danger", @value= Model.PlayerName })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Play again!" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@*<p>
    @Html.ActionLink("Play again!", "Index", "Game", new { area = "" }, Model.PlayerName)
</p>*@
