﻿@model HighScore
@{
    ViewBag.Title = Model.PlayerName;
}
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />

<h2>Breakout - <span id="gameScore">0</span></h2>
<canvas id="gameField" width="400" height="480" style="background-color:midnightblue"></canvas>
<p>
    Controls: A - left, D - right
</p>
<script src="~/Scripts/Game/KeyboardControls.js" type="text/javascript"></script>
<script src="~/Scripts/Game/Paddle.js" type="text/javascript"></script>
<script src="~/Scripts/Game/Ball.js" type="text/javascript"></script>
<script src="~/Scripts/Game/Walls.js" type="text/javascript"></script>
<script src="~/Scripts/Game/Physics.js" type="text/javascript"></script>
<script src="~/Scripts/Game/Brick.js" type="text/javascript"></script>
<script src="~/Scripts/Game/Score.js" type="text/javascript"></script>
<script src="~/Scripts/Game/DOOM.js" type="text/javascript"></script>
<script>
    //game goes here
    //dom references
    var myCanvas = document.getElementById("gameField");
    var ctx = myCanvas.getContext("2d");
    var playerPaddle;

    var somethingDied = false;
    var scanningForDead = false;

    //engine bay
    physics = makePhysics();
    //animation engine
    var Animator = {
        renderItems: [],
        animTimeout: null,
        isRunningGame: true,
        renderTick:0,
        renderVisibleObjects: function () {
            for (item in Animator.renderItems) {
                if (Animator.renderItems[item].draw !== undefined) {
                    ctx.save();
                    Animator.renderItems[item].draw(ctx);
                    ctx.restore();
                }
            }
        },
        clearCanvas: function() {
            ctx.clearRect(0, 0, myCanvas.width,myCanvas.height);
            var w =myCanvas.width;
            myCanvas.width = 1;
            myCanvas.width = w;
        },
        animationLoop: function () {
            physics.calculateDelta();
            physics.movePhysicsObjects();
            if (Animator.renderTick >= 2) {
                //only render every 3 frames
                Animator.renderTick = 0;
                Animator.clearCanvas();
                Animator.renderVisibleObjects();
            } else {
                //if not a rendertick, do other laggy things
                Animator.renderTick++;
                checkForGameOver("@Model.PlayerName");
                if (somethingDied) {
                    removeDeadItems();
                }
            }
            if (Animator.isRunningGame) {
                animTimeout = setTimeout(Animator.animationLoop, 20);
            }
        }
    }
    //map engine
    var cartographer = {
        bricks: [],
        balls: [],
        walls: [],
        deadBricks:0,
        killBrick: function () {
            cartographer.deadBricks++;
            if (cartographer.bricks.length <= cartographer.deadBricks) {
                cartographer.deadBricks = 0;
                for (var br in cartographer.bricks) {
                    cartographer.bricks.pop();
                }
                cartographer.bricks = [];
                resetMap();
            }
        }
    }

    //physics templates
    function Transform() {
        var transform = {
            x: 0,
            y: 0,
            width: 10,
            height: 10,
            center: function () {

                return {
                    x: transform.x + (transform.width / 2),
                    y: transform.y + (transform.height / 2)
                };
            },
            velocity: {
                angle: 0,
                speed: 0,
                nextPosition: function () {
                    return {
                        x: transform.x + (transform.velocity.speed * Math.cos(transform.velocity.angle) * physics.deltaTime / 1000),
                        y: transform.y + (transform.velocity.speed * Math.sin(transform.velocity.angle) * physics.deltaTime / 1000)
                    };
                },
                move: function () {
                    var next = transform.velocity.nextPosition();
                    if (next.x !== 0 || next.y !== 0) {
                        transform.x = next.x;
                        transform.y = next.y;
                    }
                }
            },
            refresh: function () {
                transform.velocity.move();
            }
        }
        return transform;
    }

    function addNewPhysicsItemToField(item) {
        Animator.renderItems.push(item);
        physics.collisionItems.push(item);
    }

    console.log(makePlayerPaddle);

    //a few map builders:
    function defaultBallAndPlayer() {
        playerPaddle = makePlayerPaddle(myCanvas.width / 2, myCanvas.height * 0.15);
        //addNewPhysicsItemToField(playerPaddle);
        var ball = makeBall();
        cartographer.balls.push(ball);
        addNewPhysicsItemToField(ball);
    }

    function buildSingleLineMap() {
        var offset = {
            x: 50,
            y: 20
        }
        for (var i = offset.x; i < myCanvas.width - offset.x; i += offset.x) {
            for (var j = 0; j < 3; j++) {
                var nextBrick = makeBrick(offset.x, offset.y);
                nextBrick.transform.x = i + (16 * (-1 * j%2));
                nextBrick.transform.y = Math.round(myCanvas.height * (0.85-(j*0.07)));
                cartographer.bricks.push(nextBrick);
                addNewPhysicsItemToField(nextBrick);

            }
        }
        defaultBallAndPlayer();
        defaultWalls();
    }

    function removeDeadItems() {
        if (!scanningForDead) {
            scanningForDead = true;
            somethingDied = false;
            //console.log('something died');
            for (var i = Animator.renderItems.length - 1; i >= 0; i--) {
                if (Animator.renderItems[i].isDead) {
                    //console.log('removed renderitem');
                    Animator.renderItems.splice(i, 1);
                }
            }
            for (var i = physics.collisionItems.length - 1; i >= 0; i--) {
                if (physics.collisionItems[i].isDead) {
                    //console.log('removed collisionItem');
                    physics.collisionItems.splice(i, 1);
                }
            }
            for (var i = physics.staticCollisionItems.length - 1; i >= 0; i--) {
                if (physics.staticCollisionItems[i].isDead) {
                    //console.log('removed staticCollisionItem');
                    physics.staticCollisionItems.splice(i, 1);
                }
            }
            scanningForDead = false;
        }
    }

    function resetMap() {
        scoreboard.levelsCompleted++;
        var offset = {
            x: 50,
            y: 20
        }
        for (var ball in cartographer.balls) {
            if (cartographer.balls[ball].transform.y > Math.round(myCanvas.height * (0.65))) {
                cartographer.balls[ball].transform.y = Math.round(myCanvas.height * (0.62));
            }
        }
        cartographer.bricks = [];
        for (var i = offset.x; i < myCanvas.width - offset.x; i += offset.x) {
            for (var j = 0; j < 3; j++) {
                if (Math.random() > 0.15) {
                    var nextBrick = makeBrick(offset.x, offset.y);
                    nextBrick.transform.x = i + (16 * (-1 * j % 2));
                    nextBrick.transform.y = Math.round(myCanvas.height * (0.85 - (j * 0.07)));
                    cartographer.bricks.push(nextBrick);
                    addNewPhysicsItemToField(nextBrick);
                }
            }
        }
    }

    function Start() {
        buildSingleLineMap();
        Animator.animationLoop();
    }


    Start();
</script>